@import "tailwindcss";
@import "../src/assets/fonts/fonts.css";

@layer components {
  .headline-1 {
    font-family: "AnekTamil";
    font-weight: bolder;
    font-size: 37px;
    line-height: 80%;
    letter-spacing: -5%;
  }
  .headline-2 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 28px;
    line-height: 91%;
    letter-spacing: -3%;
  }
  .headline-3 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -5%;
  }
  .headline-4 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 22px;
    line-height: 91%;
    letter-spacing: -3%;
  }
  .headline-5 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 22px;
    line-height: 131%;
    letter-spacing: -3%;
  }
}

@layer components {
  .paragraph-1 {
    font-family: "Geist";
    font-weight: regular;
    font-size: 17px;
    line-height: 131%;
    letter-spacing: -3%;
  }
  .paragraph-2 {
    font-family: "Geist";
    font-weight: regular;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 1%;
  }
  .paragraph-3 {
    font-family: "Geist";
    font-weight: bold;
    font-size: 14px;
    line-height: 131%;
    letter-spacing: 1%;
  }
}

@layer components {
  .links-nav {
    font-family: "GeistMono";
    font-weight: regular;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -1%;
  }
  .links-button {
    font-family: "GeistMono";
    font-weight: regular;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -1%;
  }
}


