@import "tailwindcss";
@import "../src/assets/fonts/fonts.css";

@layer components {
  .headline-1 {
    font-family: "AnekTamil";
    font-weight: bolder;
    font-size: 37px;
    line-height: 80%;
    letter-spacing: -5%;
    color: inherit;
  }

  @media (min-width: 768px) {
    .headline-1 {
      font-size: 71px;
      line-height: 110%;
    }
  }

  @media (min-width: 1024px) {
    .headline-1 {
      font-size: 71px;
      line-height: 110%;
    }
  }

  @media (min-width: 1280px) {
    .headline-1 {
      font-size: 116px;
      line-height: 110%;
    }
  }
  .headline-2 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 28px;
    line-height: 91%;
    letter-spacing: -3%;
    color: inherit;
  }

  @media (min-width: 768px) {
    .headline-2 {
      font-size: 36px;
      line-height: 91%;
      letter-spacing: -3%;
    }
  }

  @media (min-width: 1024px) {
    .headline-2 {
      font-size: 36px;
      line-height: 91%;
      letter-spacing: -5%;
    }
  }

  @media (min-width: 1280px) {
    .headline-2 {
      font-size: 45px;
      line-height: 91%;
      letter-spacing: -3%;
    }
  }
  .headline-3 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -5%;
    color: inherit;
  }

  @media (min-width: 768px) {
    .headline-3 {
      font-size: 57px;
      line-height: 100%;
      letter-spacing: -5%;
    }
  }

  @media (min-width: 1024px) {
    .headline-3 {
      font-size: 57px;
      line-height: 100%;
      letter-spacing: -5%;
    }
  }

  @media (min-width: 1280px) {
    .headline-3 {
      font-size: 57px;
      line-height: 100%;
      letter-spacing: -5%;
    }
  }
  .headline-4 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 22px;
    line-height: 91%;
    letter-spacing: -3%;
    color: inherit;
  }

  @media (min-width: 768px) {
    .headline-4 {
      font-size: 25px;
      line-height: 91%;
      letter-spacing: -3%;
    }
  }

  @media (min-width: 1024px) {
    .headline-4 {
      font-size: 25px;
      line-height: 91%;
      letter-spacing: -3%;
    }
  }

  @media (min-width: 1280px) {
    .headline-4 {
      font-size: 25px;
      line-height: 91%;
      letter-spacing: -3%;
    }
  }
  .headline-5 {
    font-family: "AnekTamil";
    font-weight: bold;
    font-size: 22px;
    line-height: 131%;
    letter-spacing: -3%;
    color: inherit;
  }

  .paragraph-1 {
    font-family: "Geist";
    font-weight: normal;
    font-size: 17px;
    line-height: 131%;
    letter-spacing: -3%;
    color: inherit;
  }

  @media (min-width: 1280px) {
    .paragraph-1 {
      font-size: 19px;
    }
  }
  .paragraph-2 {
    font-family: "Geist";
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0;
    color: inherit;
  }

  @media (min-width: 1280px) {
    .paragraph-2 {
      font-size: 17px;
    }
  }
  .paragraph-3 {
    font-family: "Geist";
    font-weight: bold;
    font-size: 14px;
    line-height: 131%;
    letter-spacing: 0;
    color: inherit;
  }

  .links-nav {
    font-family: "GeistMono";
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -1%;
    color: inherit;
  }

  .links-button {
    font-family: "GeistMono";
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -1%;
    color: inherit;
  }
}
